/*Font Start*/

@font-face{
	font-family: Poppins-Bold;
	src: url(../fonts/Poppins-Bold.ttf);
}
@font-face{
	font-family: Poppins-Medium;
	src: url(../fonts/Poppins-Medium.ttf);
}
@font-face{
	font-family: Poppins-Regular;
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face{
	font-family: Poppins-SemiBold;
	src: url(../fonts/Poppins-SemiBold.ttf);
}

/*Font End*/

body{
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #616368;
}	

.size-fourty{
	font-size: 40px !important;
}
.container{
	max-width: 1140px;
}

/*Header Start*/
header{

}

.logo{
	font-family: Poppins-Bold;
	font-size: 26px;
	font-weight: 700;
}

.logo-orange{
	color: #fcae61;
}

.logo-black{
	color: #242f51;
}

.page{
	font-family: Poppins-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #242f51 !important;
	cursor: pointer;
}

.page:hover{
	color: #fcae61 !important;
}

.call-to-action{
	font-family: Poppins-Medium;
	font-size: 16px !important;
	font-weight: 500;
	color: #fff;
    background-color: #2500F9;
    border-color: #2500F9;
    transition: 0.3s;
}

.call-to-action:hover{
	color: #2500F9;
	background-color: transparent;
}	

.custom-nav{
	padding-top: 11px !important;
	padding-bottom: 11px !important;
	z-index: 9999;
	/*background-color: white;*/
}

.backdrop{
	/*backdrop-filter: blur(30px);*/
	background-color: #fff !important;
}

/*Header End*/

/*Banner Start*/
.banner{
	background-image: url(../images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 50px;
}

.left-col-wrapper{
	margin-top: 250px;
}

.editor-text{
	font-size: 18px;
	color: #242f51;
	background-color: #e2eaed;
	padding: 6.5px 50px 6.5px 45px;
}

.editor-text img{
	top: 1.9px;
	left: 0;
}

.banner-head{
	font-family: Poppins-SemiBold;
	font-size: 60px;
	font-weight: 500;
	color: #242f51;
	margin-top: 25px;
	margin-bottom: 30px;
}

.banner-text{
	font-family: Poppins-Regular;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 30px;
}

.banner-video{
	color: #2500F9;
	margin-left: 20px;
}

.right-col-wrapper{
	margin-top: 80px;
	margin-left: 60px;
}

/*Banner End*/

/*Trusted Compnay start*/

.trust-company{
	padding-top: 85px;
	padding-bottom: 50px;
}

.trust-company-header{
	margin-bottom: 35px;
	font-size: 16px;
	font-weight: 400;
	color: #242f51;
}
.single-trust-company{
	align-content: center;
}
/*Trusted Company end*/


/*Awesome App start*/
.awesome-app{
	padding-top: 85px;
	padding-bottom: 50px;
}

.title{
	font-family: Poppins-SemiBold;
	font-weight: 600;
	font-size: 36px;
	color: #242f51;
}

.sub-title{
	margin-top: 10px !important;
	margin-bottom: 50px !important;
}

.feature-icon{
	margin-top: 10px;
}

.feature-text h2{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 600;
	color: #f55767;
}

.feature-text .blue-head{
	color: #2563ff;
}
.feature-text .green-head{
	color: #40975f;
}

.feature-text p{
	line-height: 28px;
}

/*Awesome app end*/

/*Smart Jackpot Start*/

.smart-jackpot{
	padding: 25px 0;
}

.divider{
	height: 160px;
	width: 1px;
	background-color: #b9b9b8;
}

.divider-sm{
	margin-top: 25px !important;
	margin-bottom: 25px !important;
	height: 1px;
	width: 180px;
	background-color: #b9b9b8;
	margin: 0 auto;
}

.jackpot-wrapper h1{
	font-family: Poppins-SemiBold;
	font-size: 40px;
	font-weight: 500;
	color: #242f51;
}

/*Smart Jackpot End*/

/*Automatic Payouts start*/

.auto-payout{
	padding: 85px 0 50px 0;
}

.auto-payout-icon{

}

.auto-payout-icon img{

}

.auto-payout-desc h2{
	margin-top: 30px;
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 600;
	color: #f55767;
}

.auto-payout-desc .blue-head{
	color: #2563ff;
}
.auto-payout-desc .green-head{
	color: #40975f;
}

.auto-payout-desc p{
	
}

/*Automatic Payout End*/

/*Design built start*/

.design-built{
	padding-top: 85px;
	padding-bottom: 50px;
}

.design-built-desc-wrapper h2{
	margin-right: 30px;
	font-family: Poppins-SemiBold;
	font-size: 36px;
	font-weight: 500;
	color: #242f51;
}
/*Desing Built End*/

/*Choose Start*/

.choose{
	padding: 85px 0 50px 0;
}

.choose-subtitle{
	margin-top: 16px !important;
	margin-bottom: 50px !important;
}

.single-choose h2{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 500;
	color: #242f51;
}
.single-choose p{}

/*Choose End*/

/*ultimate-feature start*/

.ultimate-feature{
	padding: 85px 0 50px 0;
}

.ultimate-feature-btn button{
	width: 150px;
}

/*ultimate-feature end*/

/*awesome feature start*/
.awesome-feature{
	padding: 85px 0 50px 0;
}

.choose-subtitle-awesome-feature{
	margin-bottom: 80px !important;
}

/*Price Start*/
.price-tab{
	font-family: Poppins-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #616368 !important;
	border-radius: 50px !important;
}

.price-ul{
	border: 1px solid #ebebeb;
	border-radius: 50px;
	width: 230px;
}
.price-ul li{
	letter-spacing: 0px;
	padding: 2px 0;
	border-radius: 50px;
}
.price-ul li .active{
	font-family: Poppins-Bold;
	font-size: 16px;
	font-weight: 700;
	color: #fff !important;
	background-color: #2500f9 !important;
}
.price-ul li:first-child{
	margin-left: 4px;
}
.price-ul li:last-child{
	margin-left: 18px;
}

.card-wrapper{
	margin-bottom: 5px;
	/*border: 1px solid #ebebeb;*/
	border-radius: 5px;
	box-shadow: 0px 0px 10px -2px #dad7d7;
	transition: all 0.3s;
}
.card-wrapper:hover{
	box-shadow: 0px 0px 15px 5px #dad7d7;
	transform: scale(1.04);
}

.price-card-top{
	padding: 60px 0 30px 0;
	text-align: center;
	background-color: #f4f7f9;
}
.head-dollar{
	font-family: Poppins-SemiBold;
	font-size: 60px;
	font-weight: 500;
	color: #242f51;
}
.head-dollar span{
	font-family: Poppins-Regular;
	font-size: 18px;
	font-weight: 400;
	color: #999ca5;
}

.price-card-top h3{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 500;
	color: #242f51;
}

.price-card-top p{
	color: #999ca5 !important;
}

.price-card-bottom ul li{
	text-align: center;
	margin-top: 30px !important;
}

.price-btn{
	font-size: 15px !important;
}

/*Price End*/
/*awesome feature end*/

/*Testimonial Start*/

.testimonial{
	padding: 85px 0 50px 0;
}

.carousel-control-prev, .carousel-control-next {
    display: flex;
    align-items: self-end;
    bottom: 10%;

}


.carousel-control-prev {
    left: 76%;
}

.carousel-control-prev-icon {
	border: 1px solid #eff3f8 !important;
	border-radius: 50px;
    background-image: none;
}
.carousel-control-next-icon {
		border: 1px solid #eff3f8 !important;
		border-radius: 50px;
    background-image: none;
 }

.carousel-control-prev-icon:hover{
	background-color: #eff3f8;
}

.carousel-control-next-icon:hover{
	background-color: #eff3f8;
}

.carousel-control-next-icon i{
	  color: #573cf9;
	  line-height: 32px;
}

.carousel-control-prev-icon i{
	color: #573cf9;
	line-height: 32px;
}

.divider-btn{
	height: 20px;
	width: 1px;
	background-color: #eff3f8;
	position: absolute;
	left: 88%;
    top: 82%;
}

.testi-info{
	float: left;
}

.testimonial h2{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 500;
	color: #242f51;
}

.testimonial h3{
	font-family: Poppins-SemiBold;
	font-size: 18px;
	font-weight: 500;
	color: #242f51;
}

/*Testimonial End*/

/*Faq start*/

.faq{
	padding: 85px 0 50px 0;
}
.accordion-button:not(.collapsed) {
    background-color: #e7f1ff;
    box-shadow: none;
    color: #242f51;
	background-color: #f5f7fa;
}

.accordion-body{
	background-color: #f5f7fa;
	padding: 20px 50px 60px 50px;
}

.accordion-button{
	font-family: Poppins-SemiBold;
	font-weight: 500;
	font-size: 20px;
	color: #242f51;
	background-color: #f5f7fa;
	padding-left: 50px;
}

.accordion-button:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.testimonial-subtitle{
	line-height: 30px !important;
}

/*Faq End*/

/*download app start*/
.download-app{
	padding: 50px 0 50px 0;
}

.size-foureight{
	font-size: 46px;
}

/*Download App end*/

/*Footer start*/

footer{
	padding: 85px 0;
	background-color: #09142e;
}

footer .foot-second-row ul li{
	margin-right: 25px !important;
}
footer .foot-second-row ul li:last-child{
	margin-right: 0 !important;
}

footer .foot-third-row ul li{
	margin-right: 18px !important;
}

footer .foot-third-row ul li:last-child{
	margin-right: 0 !important;
}

footer .foot-third-row ul li a{
	font-size: 30px;
}

footer .foot-third-row ul li a i{
	font-size: 30px;
	color: #273043 !important;
	transition: 0.4s;
}

footer .foot-third-row ul li a i:hover{
	color: #fcae61 !important;
	transform: scale(1.5);
}

.footer-copyr-text, .footer-copyr-text a{
	color: #273043 !important;
	transition: 0.3s;
}

.footer-copyr-text a:hover{
	color: #fcae61 !important;
}

.footer-link{
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	transition: 0.3s;
}

.footer-link:hover{
	color: #fcae61;
}

/*Footer End*/